/*@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode:forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}


@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}


.container
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.container h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color:#616467;
    box-shadow:  0 0 2px rgb(103, 97, 103);
    background-color: transparent;
    height: 48px;
    margin: 5px;
}

.boton-agregar:hover{
    color: #fff;
    background-color: #317938;
}
.boton-limpiar:hover{
    color: #fff;
    background-color: #794231;
}
.boton-eliminar:hover{
    color: #fff;
    background-color: #ff0000;
}

li{
    list-style: none;
}

input{
    background-color: transparent !important;
    font-weight: 900;
    border-radius: 5px;
}
*/

@font-face {
    font-family: 'Fuente';
    src: url('../assets/fonts/HedvigLettersSans-Regular.ttf');
}

.container{
    font-family: 'Fuente', sans-serif;
    background: pink;
    background: radial-gradient(circle,rgb(228, 104, 253) 0%, rgb(233, 204, 204)100%);
    max-width: 400px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.75);

}

.header{
    border-bottom: 1px solid black;
}

.titulo{
    text-align: center;
}
body{
    /*Ruta de la imagen*/
    background-image: url('../assets/imgs/fondo.jpg');
    /*Cubre todo el area del body*/
    background-size: cover;
    /*Evita que la imagen se repita*/
    background-repeat: no-repeat;
    /*Hace que la imagen de fondo sea fija*/
    background-attachment: fixed;
}
button{
    font-family: 'Fuente', sans-serif;
}

.boton-agregar{
    display: block;
    margin: auto;
    margin-top: -15px;
    padding: 4px 10px;
    font-weight: bold;
    border: 3px solid black;
}

.boton-agregar:hover{
    background-color: greenyellow;
}

.lista-tareas{
    list-style: none;
    padding: 0;
}